version: '3.8'

services:
  jekyll:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/site
      - bundle:/usr/local/bundle
    command: bundle exec jekyll serve --host 0.0.0.0 --livereload

volumes:
  bundle:
